/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;


.container .background {
  width: 100%;
  background-color: #d3d3d3; /* Note: '#gray' is not a valid color, changed to 'gray' */
}

.container .header {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.container .header .name {
  margin-left: 40px;
}
